<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
    <head></head>
    <body>
    <f:section name="body">
        <!--TYPO3SEARCH_begin-->

        <div class="body-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 position_relative">
                        <h1>HIVE! </h1>
                        <p>Version 1.0</p>

                        <div style="margin: 40px 0;">
                            <f:cObject typoscriptObjectPath="lib.navigation.simple" />
                            <f:cObject typoscriptObjectPath="lib.navigation.mobile" />
                        </div>

                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />

                    </div>
                </div>
            </div>
        </div>
        
        <!--TYPO3SEARCH_end-->
    </f:section>
    </body>
</html>